.bg-sena{
    background: rgb(65, 201, 53);
}

nav{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
/*padding los bordes lo que esta haciendo e padding hay es que en todos los bordes sean de la misma medida*/
#Nosotros{
    width: 100%;
    position: relative;
    padding: 80px 0;
}
/*si se cambia el ancho el alto se cambia automaticamente*/
#Nosotros img{
    width: 500px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
/*display block dejara el borde 100%
display inline block solo el borde lo pone hasta donde mide la palabra*/
#Nosotros h1{
    color: rgb(0, 0, 255);
    padding-top: 50px;
    font-size: 50px;
    border-bottom: 2px solid rgb(65, 201, 53);
    display: inline-block;
    margin-bottom: 60px;
}

#Nosotros a{
    padding: 14px;
    background: rgb(65, 201, 53);
    color: antiquewhite;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    display: block;
    margin-top: 60px;
    max-width: 200px ;
    text-align: center;
    transition: .5s;
}

#Nosotros a:hover{
    background: rgb(47, 189, 255);
    border-radius: 30px;
    max-width: 250px;    
    /*transform: rotate(-360deg); = rota
    transform: translateY(-20px); = levanta
    transform: scale(-50); = agranda */
}

#Servicios{
    width: 100%;
    position: relative;
    padding: 100px 0;
}

#Servicios h2{
    color: rgb(0, 0, 255);
    font-size: 36px;
    border-bottom: 2px solid rgb(65, 201, 53);
    display: inline-block;
    margin-bottom: 80px;
}

#Servicios h2 span{
    font-size: 54px;
}

#Servicios .card-servicio{
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 30px;
}

#Servicios .card-servicio::after{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 155, 245, 0.747);
    transition: .5s;
}
/*z-index son las capas*/
#Servicios .card-servicio a{
    color: antiquewhite;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    position: absolute;
    z-index: 9;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 250px;    
    text-align: center;
    transition: .5s;
}

#Servicios .card-servicio:hover a{
    background: greenyellow;
    color: blue;
    bottom: 48%;
}

#Servicios .card-servicio:hover::after{
    background: rgb(0, 0, 255, 0.425);
}

#Contacto{
    width: 100%;
    position: relative;
    padding: 80px 0;
}
footer{
    background: rgb(65, 201, 53);
    color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
}

